<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/security
        https://www.springframework.org/schema/security/spring-security.xsd">


    <http pattern="/**" create-session="stateless" use-expressions="true" >
        <http-basic/>
        <csrf disabled="true"/>
        <intercept-url pattern="/users/**" method="POST" access="isAnonymous()"/>
        <intercept-url pattern="/users/**" method="GET" access="isAuthenticated()"/>
        <intercept-url pattern="/users/**" access="hasRole('ADMIN')"/>

        <intercept-url pattern="/profile/**" access="isAuthenticated()"/>

        <intercept-url pattern="/restaurants/**/vote" method="POST" access="hasRole('USER')"/>
        <intercept-url pattern="/restaurants/**" method="GET" access="isAuthenticated()"/>
        <intercept-url pattern="/restaurants/**" access="hasRole('ADMIN')"/>
    </http>

    <beans:bean id="passwordEncoder" class="org.springframework.security.crypto.factory.PasswordEncoderFactories"
                factory-method="createDelegatingPasswordEncoder"/>

    <authentication-manager id="authenticationManager">
        <authentication-provider user-service-ref="userRepository">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>
</beans:beans>